$white: #FFFFFF !default;
$light-gray: #F3F3F3 !default;
$dark-gray: #424242 !default;
$black: #000000 !default;
$accent: #F39000 !default;
$accent-secondary: #90b1b2 !default;
$transparent: transparent !default;;
