// dark
$color-scheme--dark--border-color: $dark-gray !default;
$color-scheme--dark--background-color: $dark-gray !default;
$color-scheme--dark--color: white !default;

// dark:hover
$color-scheme--dark--border-color--hover: darken($color-scheme--dark--border-color, 5%) !default;
$color-scheme--dark--background-color--hover: darken($color-scheme--dark--background-color, 5%) !default;
$color-scheme--dark--color--hover: $color-scheme--dark--color !default;

// dark:active
$color-scheme--dark--border-color--active: darken($color-scheme--dark--border-color--hover, 5%) !default;
$color-scheme--dark--background-color--active: darken($color-scheme--dark--background-color--hover, 5%) !default;

// light
$color-scheme--light--border-color: $white !default;
$color-scheme--light--background-color: $white !default;
$color-scheme--light--color: $dark-gray !default;

// light:hover
$color-scheme--light--border-color--hover: darken($color-scheme--light--border-color, 5%) !default;
$color-scheme--light--background-color--hover: darken($color-scheme--light--background-color, 5%) !default;
$color-scheme--light--color--hover: $color-scheme--light--color !default;

// light:active
$color-scheme--light--border-color--active: darken($color-scheme--light--border-color--hover, 5%) !default;
$color-scheme--light--background-color--active: darken($color-scheme--light--background-color--hover, 5%) !default;

// super light
$color-scheme--super-light--border-color: $light-gray !default;
$color-scheme--super-light--background-color: $light-gray !default;
$color-scheme--super-light--color: $dark-gray !default;

// super light:hover
$color-scheme--super-light--border-color--hover: darken($color-scheme--super-light--border-color, 5%) !default;
$color-scheme--super-light--background-color--hover: darken($color-scheme--super-light--background-color, 5%) !default;
$color-scheme--super-light--color--hover: $color-scheme--super-light--color !default;

// super light:active
$color-scheme--super-light--border-color--active: darken($color-scheme--super-light--border-color--hover, 5%) !default;
$color-scheme--super-light--background-color--active: darken($color-scheme--super-light--background-color--hover, 5%) !default;

// accent
$color-scheme--accent--border-color: $accent;
$color-scheme--accent--background-color: $accent;
$color-scheme--accent--color: white;

// accent:hover
$color-scheme--accent--border-color--hover: darken($color-scheme--accent--border-color, 5%) !default;
$color-scheme--accent--background-color--hover: darken($color-scheme--accent--background-color, 5%) !default;
$color-scheme--accent--color--hover: $color-scheme--accent--color !default;

// accent:active
$color-scheme--accent--border-color--active: darken($color-scheme--accent--border-color--hover, 5%) !default;
$color-scheme--accent--background-color--active: darken($color-scheme--accent--background-color--hover, 5%) !default;

// soft
$color-scheme--soft--border-color: $accent-secondary;
$color-scheme--soft--background-color: $accent-secondary;
$color-scheme--soft--color: white;

// soft:hover
$color-scheme--soft--border-color--hover: darken($color-scheme--soft--border-color, 5%) !default;
$color-scheme--soft--background-color--hover: darken($color-scheme--soft--background-color, 5%) !default;
$color-scheme--soft--color--hover: $color-scheme--soft--color !default;

// soft:active
$color-scheme--soft--border-color--active: darken($color-scheme--soft--border-color--hover, 5%) !default;
$color-scheme--soft--background-color--active: darken($color-scheme--soft--background-color--hover, 5%) !default;

// transparent
$color-scheme--transparent--border-color: transparent;
$color-scheme--transparent--background-color: transparent;
$color-scheme--transparent--color: $dark-gray;

// transparent:hover
$color-scheme--transparent--border-color--hover: darken($color-scheme--transparent--border-color, 5%) !default;
$color-scheme--transparent--background-color--hover: darken($color-scheme--transparent--background-color, 5%) !default;
$color-scheme--transparent--color--hover: $color-scheme--transparent--color !default;

// transparent:active
$color-scheme--transparent--border-color--active: darken($color-scheme--transparent--border-color--hover, 5%) !default;
$color-scheme--transparent--background-color--active: darken($color-scheme--transparent--background-color--hover, 5%) !default;

// CTA VARIABLES

// link
$cta--link--color: $accent !default;
$cta--link--color--hover: darken($cta--link--color, 5%) !default;

// button
$cta--button--border-width: 2px !default;
$cta--button--border-color: $color-scheme--soft--border-color !default;
$cta--button--background-color: $color-scheme--soft--background-color !default;
$cta--button--color: $color-scheme--soft--color !default;

// button:hover
$cta--button--border-color--hover: darken($cta--button--border-color, 5%);
$cta--button--background-color--hover: darken($cta--button--background-color, 5%);
$cta--button--color--hover: $cta--button--color !default;

// button:active
$cta--button--border-color--active: darken($cta--button--border-color--hover, 5%) !default;
$cta--button--background-color--active: darken($cta--button--background-color--hover, 5%) !default;


// color scheme map
$colorSchemes: (
        dark: (
                borderColor: $color-scheme--dark--border-color,
                backgroundColor: $color-scheme--dark--background-color,
                color: $color-scheme--dark--color,
                borderColorHover: $color-scheme--dark--border-color--hover,
                backgroundColorHover: $color-scheme--dark--background-color--hover,
                colorHover: $color-scheme--dark--color--hover,
                borderColorActive: $color-scheme--dark--border-color--active,
                backgroundColorActive: $color-scheme--dark--background-color--active
        ),
        light: (
                borderColor: $color-scheme--light--border-color,
                backgroundColor: $color-scheme--light--background-color,
                color: $color-scheme--light--color,
                borderColorHover: $color-scheme--light--border-color--hover,
                backgroundColorHover: $color-scheme--light--background-color--hover,
                colorHover: $color-scheme--light--color--hover,
                borderColorActive: $color-scheme--light--border-color--active,
                backgroundColorActive: $color-scheme--light--background-color--active
        ),
        accent: (
                borderColor: $color-scheme--accent--border-color,
                backgroundColor: $color-scheme--accent--background-color,
                color: $color-scheme--accent--color,
                borderColorHover: $color-scheme--accent--border-color--hover,
                backgroundColorHover: $color-scheme--accent--background-color--hover,
                colorHover: $color-scheme--accent--color--hover,
                borderColorActive: $color-scheme--accent--border-color--active,
                backgroundColorActive: $color-scheme--accent--background-color--active
        ),
        soft: (
                borderColor: $color-scheme--soft--border-color,
                backgroundColor: $color-scheme--soft--background-color,
                color: $color-scheme--soft--color,
                borderColorHover: $color-scheme--soft--border-color--hover,
                backgroundColorHover: $color-scheme--soft--background-color--hover,
                colorHover: $color-scheme--soft--color--hover,
                borderColorActive: $color-scheme--soft--border-color--active,
                backgroundColorActive: $color-scheme--soft--background-color--active
        ),
        super-light: (
                borderColor: $color-scheme--super-light--border-color,
                backgroundColor: $color-scheme--super-light--background-color,
                color: $color-scheme--super-light--color,
                borderColorHover: $color-scheme--super-light--border-color--hover,
                backgroundColorHover: $color-scheme--super-light--background-color--hover,
                colorHover: $color-scheme--super-light--color--hover,
                borderColorActive: $color-scheme--super-light--border-color--active,
                backgroundColorActive: $color-scheme--super-light--background-color--active
        ),
        transparent: (
                borderColor: $color-scheme--transparent--border-color,
                backgroundColor: $color-scheme--transparent--background-color,
                color: $color-scheme--transparent--color,
                borderColorHover: $color-scheme--transparent--border-color--hover,
                backgroundColorHover: $color-scheme--transparent--background-color--hover,
                colorHover: $color-scheme--transparent--color--hover,
                borderColorActive: $color-scheme--transparent--border-color--active,
                backgroundColorActive: $color-scheme--transparent--background-color--active
        )
);
