.colored-container {
  display: block;
  padding: 1px 15px;
  margin: 20px;

  &--accent {
    .colored-container__cta {

      &--prev {
        @extend .cta--button--dark;
      }
      &--next {
        @extend .cta--button--soft;
      }

    }
  }

  @include generateColorSchemeClasses('colored-container');
}
