.cta {
  display: inline-block;
  box-sizing: border-box;
  user-select: none;
  font-size: 0.875rem;

  transition-property: all;
  transition-duration: .15s;
  transition-timing-function: ease-in-out;

  &:focus {
    outline: 0;
  }

  &:hover {
    cursor: pointer;
  }

  &--button {
    text-decoration: none;
    min-width: 160px;
    padding: 10px 20px;
    border: $cta--button--border-width solid $cta--button--border-color;
    background-color: $cta--button--background-color;
    color: $cta--button--color;
    text-align: center;

    &:hover {
      border-color: $cta--button--border-color--hover;
      background-color: $cta--button--background-color--hover;
      color: $cta--button--color--hover;
    }

    &:active, &.active {
      border-color: $cta--button--border-color--active;
      background-color: $cta--button--background-color--active;
    }

    @include generateColorSchemeClasses('cta--button');
  }

  &--link {
    margin: 5px;
    background: transparent;
    border: none;
    text-decoration: underline;
    color: $cta--link--color;

    &:hover, &.active {
      color: $cta--link--color--hover;
    }

    @include generateColorSchemeClasses('cta--link');
  }

  &--text {
    @include generateAlignmentClasses;
  }
}
