@mixin generateColorSchemeClasses($forComponentClass) {
  @each $theme, $styles in $colorSchemes {
    &--#{$theme} {

      @if ($forComponentClass == 'cta--link') {
        color: setColorSchemeStyle($colorSchemes, $theme, backgroundColor);

        &:hover {
          color: setColorSchemeStyle($colorSchemes, $theme, backgroundColorHover);
        }
      }

      @if ($forComponentClass == 'cta--button') {
        border-color: setColorSchemeStyle($colorSchemes, $theme, borderColor);
        background: setColorSchemeStyle($colorSchemes, $theme, backgroundColor);
        color: setColorSchemeStyle($colorSchemes, $theme, color);

        &:hover {
          border-color: setColorSchemeStyle($colorSchemes, $theme, borderColorHover);
          background: setColorSchemeStyle($colorSchemes, $theme, backgroundColorHover);
          color: setColorSchemeStyle($colorSchemes, $theme, colorHover);
        }

        &:active, &.active {
          border-color: setColorSchemeStyle($colorSchemes, $theme, borderColorActive);
          background: setColorSchemeStyle($colorSchemes, $theme, backgroundColorActive);
        }
      }

      @if ($forComponentClass == 'colored-container') {
        background: setColorSchemeStyle($colorSchemes, $theme, backgroundColor);
        color: setColorSchemeStyle($colorSchemes, $theme, color);
      }

    }
  }
}
